h1(style='text-align:center') Search Bins
input(type='text',style='margin-top:20px;width:100%' onkeyup='catchWords(this.value)')
#hiddiv()
input.btn.cbut.grey.bbbutons(type="button" value='Assign More', onclick="amorei(1)",style='left:20%')
input.btn.cbut.blue.bbbutons(type="button" value='Assign', onclick="amorei(2)", style='left:45%')
input(type='hidden',value=fac_id,id='binseahid')
