include header.pug
script.
	function o(id){console.log(id);return document.getElementById(id);}
ul.horizontal
	li
		a(href="../admin/sc_neworders") New Orders
	li
		a(href="../admin/sc_orderhistory") Order History
	li
		a(href="../admin/sc_bins") Bins
	li
		a(href="../admin/sc_reports") Reports
style(type="text/css").
	#linemenu, #headerspan{display:none}
	#uuul{padding:0;margin:0}	
	.thdd{background-color:#003595 !important;color:#FFF !important;}
	.cp{cursor:pointer !important}
	.bindivs{border: 1px solid #000;float:left;margin:10px;padding:10px;cursor:pointer}
	#invidiv{z-index:9999;display:none;border:1px solid #666;position:absolute;background:#FFF;top:10%;width:80%;left:10%}
	#invidivcover{z-index:9998;background:#FAFAFA;display:none;width:100%;height:100%;opacity:0.5;position:fixed}

#invidiv
#invidivcover
if( pageid == 'neworder')
	include calendar.pug

.row(style='float:right;width:76%')
	input(type='hidden' id='hidid' name='hidid' value=pageid)
	input(type='hidden' id='surgyid' name='surgyid' value=uid)
	if pageid == 'neworder'
		.col-md-8#rightdiv_neworder(style='border:1px solid #e7e7e7;margin:12px;width:98%')
	else if pageid == 'orderhistory'
		.col-md-8#rightdiv_orderhistory(style='border:1px solid #e7e7e7;margin:12px' )
	else if pageid == 'reports'
		.col-md-8#rightdiv_reports(style='border:1px solid #e7e7e7;margin:12px')
	else if pageid == 'settings'
		.col-md-8#rightsettings(style='border:1px solid #e7e7e7;margin:12px')
			h2(style='text-align:center') Change Password
				div(style='margin:0 20%;width:60%')
					br
					input.form-control#oldpassword(type="password" placeholder="Enter Old Password" required)
					br
					input.form-control#password(type="password" placeholder="Enter Password" required)
					br
					input.form-control#cpassword(type="password" placeholder="Enter Confirm Password" required)
					br
					input.form-control(type="button" style="margin:0" value="Submit" class="btn cbut blue" onclick="changepassword()")
					input(type='hidden', id='uid', value=uid)
	else if pageid == 'bins'
		.col-md-8#rightbins(style='border:1px solid #e7e7e7;margin:12px')
			h2(style='text-align:center') Bins
script.	
	function changepassword(){
		url = '/admin/save_password';
		p = o('password').value;
		c = o('cpassword').value;
		oldPassword= o('oldpassword').value;

		if(p != c){
			alert('Passwords mismatch');
		}else{
			$.post(url,{old:oldPassword,p:p,uid:o('uid').value,path:'sc'},function(data){
				alert('Password saved successfully');
				window.location = window.location.href;
			});
		}
	}
	function showindiv(m,d,y,sid,surid){
		$.post('/admin/scneworders2', {m:m,d:d,y:y,sid:sid,surid:surid}, function(data){ // facid
			//console.log(data);
			o('rightdiv_neworder').innerHTML = data.html;
			//if(ch == 2) window.location.href = window.location; 
			//else o('subdivddd').innerHTML = '';
			});
	}
	
	$(document).ready(function(){
		id = o('hidid').value;
		sid = o('surgyid').value;
		
		if(id == 'neworder'){
			//loadneworder(sid);
			loaddates(sid);
		}else if(id == 'orderhistory'){
			loadorderhistory(sid);
		}else if(id == 'bins'){
			loadbins(sid);
		}
		
		try{
		
		}catch(e){console.log(e);}
		console.log(id+':--------:'+sid);
	});	
	function openorder(oid){
		$.post('/admin/openorder', {oid:oid}, function(data){ // facid
			console.log(data);
			o('rightdiv_neworder').innerHTML = data.html;
			//if(ch == 2) window.location.href = window.location; 
			//else o('subdivddd').innerHTML = '';
		});
	}
	function approveorder(oid){
		
		$.post('/admin/approveorder', {oid:oid}, function(data){ // facid
			//console.log(data);
			//o('rightdiv_neworder').innerHTML = data.html;
			//if(ch == 2) window.location.href = window.location; 
			//else o('subdivddd').innerHTML = '';
			alert('Approved Successfully');
			 window.location.href = window.location;
		});
	}
	function loaddates(fid){
		$.post('/admin/loaddates', {fid:fid}, function(data){ // facid
			console.log(data);
			temparr = [];
			for(i=0;i<data.cases.length;i++){
			obj = data.cases[i];
			key = obj.surgery_date;
			
			
			if(!temparr.includes(key)){
			temparr.push(key);
			htm = '<input type="hidden" name="inputhid" value="'+key+'" />';
			o('rightdiv_neworder').innerHTML +=htm;
			}
			}
			manipulate();
		});
	}
	function openbin(bid){
		
		$.post('/admin/openbin', {bid:bid,isalive:o('hidlive').value}, function(data){ // facid
			//console.log(bid+data);
			o('invidiv').style.display='block';
			o('invidivcover').style.display='block';
			html = '<img src="../images/cross.png" style="cursor:pointer;position:absolute;top:2px;right:2px" onclick="hidebin()" />';
			o('invidiv').innerHTML = data.html + html;
			loadbinslots();
		});
	}
	function hidebin(){
		o('invidiv').style.display='none';
		o('invidivcover').style.display='none';
	}
	function loadbinslots(){
	//orids
		arr = document.getElementsByName('orids');
		//console.log('in teh loadbinslots....');
		seqcaller(arr,0);
	}
	function seqcaller(arr,i){
		if(i<arr.length){
			id = arr[i].innerHTML;
			$.post('/admin/getbindeta', {id:id}, function(data){ // facid
				arr[i].innerHTML = data.html;
				seqcaller(arr,i+1);
			});
			
		}
	}
	function loadneworder(fid){
		$.post('/admin/scneworders', {fid:fid}, function(data){ // facid
			//console.log(data);
			o('rightdiv_neworder').innerHTML = data.html;
			//if(ch == 2) window.location.href = window.location; 
			//else o('subdivddd').innerHTML = '';
		});
	}
	function printorder2(oid){
	
		html = o('rightdiv_orderhistory').innerHTML;
		
		url = window.location.href;
		var divContents = html;
		var a = window.open(url, '', 'height=500, width=500');
		a.document.write('<html>');
		a.document.write('<body>');
		a.document.write(divContents);
		a.document.write('</body></html>');
		a.document.close();
		a.print();
	}
	function printorder(oid){
		
		$.post('/admin/printorder', {oid:oid}, function(data){ // facid
			//console.log(data);
			o('rightdiv_orderhistory').innerHTML = data.html;
			//if(ch == 2) window.location.href = window.location; 
			//else o('subdivddd').innerHTML = '';
			//alert('Approved Successfully');
			 //window.location.href = window.location;
		});
	}
	function loadbins(fid){
		$.post('/admin/loadbins', {fid:fid}, function(data){ // facid
			console.log(data);
			o('rightbins').innerHTML = data.html;
		});
	}
	function loadorderhistory(fid){
		$.post('/admin/scorderhistory', {fid:fid}, function(data){ // facid
			console.log(data);
			o('rightdiv_orderhistory').innerHTML = data.html;
			//if(ch == 2) window.location.href = window.location; 
			//else o('subdivddd').innerHTML = '';
		});
	}
	function loadreports(fid){}